<%- include("partials/header") -%>
<h1> Compose </h1>
<form class="" action="/compose" method="post">
    <div class="form-group">
      <label for="Post title">Title</label>
      <input type="text" class="form-control" name="postTitle" placeholder="What is your post about?">
    </div>
    <div class="form-group">
      <label for="postContent">Description</label>
      <textarea class="form-control" name="postContent" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary mb-2">Publish</button>

  </form>
<%- include("partials/footer") -%>
